@import "tailwindcss";

:root {
  --background: #010101;
  --foreground: #171717;
  --primary: #fc004e;
  --secondary: #00e7f9;
  --muted: #a9a9a9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-figtree: var(--font-figtree);
  --font-urbanist: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010101;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  @apply !bg-black lg:!bg-background;
}

@layer utilities {
  .container {
    @apply w-10/12 xl:w-[77%] 2xl:w-2/3 mx-auto;
  }
}
